@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Times New Roman', Times, serif;
}

.content {
  font-size: 12pt;
}

.detail-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}